.background {
  background: linear-gradient(rgb(white,0.3), rgb(white,0.3)), url("@/assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.marked {
  background-color: hsl(43, 93%, 90%);
  padding: .25em .3em;
}